<?xml version="1.0" encoding="UTF-8"?>
<!-- Bean头部 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd  
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd              
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
            http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
    <mvc:annotation-driven />
    <!-- 自动搜索@Controller标注的类 -->
    <!-- Spring的
            类注解形式：
	    @Repository 作用在存储层
	    @Component 是一个泛化的概念，仅仅表示一个组件 (Bean) ，可以作用在任何层次。
	    @Service 通常作用在业务层，但是目前该功能与 @Component 相同。
	    @Constroller 通常作用在控制层，但是目前该功能与 @Component 相同。 
            属性注解形式：
        @Resource默认按 byName自动注入。
        @Autowired默认按byType自动注入。  
    -->
	<context:component-scan base-package="com" use-default-filters="true">
	    <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<!-- 开启自动切面代理 -->
	<aop:aspectj-autoproxy />

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix">
            <value>/WEB-INF/jsp/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>
</beans>